<header id="header">
    <div id="brandspace">
        <div id="appName">CSnUS
            <div id="siteDesc">Customer and User Service</div>
        </div>
    </div>
    <div role="navigation" id="globalTopNav">
        <div id="globalTopNavInt">
            <a [routerLink]="'/'" routerLinkActive="activeNav">Home</a> |
            <a [routerLink]="'/custormerservice'" routerLinkActive="activeNav">Customer Service</a> |
            <a [routerLink]="'/user'" routerLinkActive="activeNav">User</a>
        </div>
    </div>
</header>